@import url('https://fonts.googleapis.com/css2?family-Nunito&family-Nunito+Sans&display-swap');
*{
    margin:0;
    padding:0;
    outline:0;
}
body{
background-color : #e1e6ec;
}
.container{
    position:absolute;
    left:35%;
    top:50%;
    transform: translate(-50%,-50%);
    padding: 16px;
    width:300px;
    border-radius:8px;
    background-color: #e1e6ec;
    box-shadow: 5px 5px 11px #a2b1c6 , -5px -5px 11px #fff;
    text-align: center;
    font-family:'Nunito',sans-serif;
}
.container h1{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #3235cc;
}
.container1{
    height: 100vh;
    width:100%;
    background-image: url(muzika.jpg);
    background-size: cover;
    background-position:center;
    position: relative;
}
.container h1{
    font-size: 1.5rem;
    margin: 12px 0;
}
 .container img{
     width:80%;
     margin-bottom: 12px;
 }
 .level{
     width: 80%;
     appearance: none;
     background-color: #e1e6ec;
     box-shadow: 5px 5px 11px #a2b1c6, -5px -5px 11px #fff;
     border-radius: 25px;
     margin-bottom:12px;
 }
 .level::-webkit-slider-thumb{
     appearance: none;
     background-color: #a2b1c6;
     box-shadow: 2px 2px 5px #a2b1c6, -2px -2px 5px #fff;
     width: 25px;
     height:25px;
     border-radius: 25px;
 }
 .buttons{
     display:inline-block;
     margin: 12px 0;
 }
 .buttons button{
     position: relative;
     width:50px;
     height:50px;
     border-radius:50px;
     background-color: #e1e6ec;
     box-shadow: 2px 2px 5px #a2b1c6, -2px -2px 5px #fff;
     border:none;
 }
 .buttons button:active{
     background-color: #e1e6ec;
     box-shadow: inset 2px 2px 5px #a2b1c6, -2px -2px 5px #fff;
 }
 #play{
     margin:0 16px;
 }
 .buttons button img{
     position: absolute;
     left:50%;
     top:50%;
     transform: translate(-50%,-50%);
     width:25px;
     height:25px;
 }
 .header {
    width: 100%;
    height: 100vh;
    color: #3235cc; 
    position: relative;
}
nav{
    display:flex;
    width:100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px 0 10px;
}
.menu-icon{
    width:35px;
    cursor:pointer;
}
nav ul{
    flex: 1;
    text-align: right;
    padding-right: 40px;
}
nav ul li{
    display:inline-block;
    list-style:none;
    margin:10px 30px;
}
nav ul li a{
    color:#e9776f;
    text-decoration: none;
    letter-spacing: 1px;
    font-size:17px;
}
nav ul li a:hover{
    color:#3235cc
}
.content{
    width: 100%;
    position: absolute;
    top:10%
}
.left-col{
    margin-left: 2%;
}
.left-col h1{
    font-size:50px;
    color: #fff;
    line-height: 80px;
    float:left;
}
.container3{
    position:absolute;
    left:85%;
    top:50%;
    transform: translate(-50%,-50%);
    padding: 16px;
    width:300px;
    border-radius:8px;
    background-color: #e1e6ec;
    box-shadow: 5px 5px 11px #a2b1c6 , -5px -5px 11px #fff;
    text-align: center;
    font-family:'Nunito',sans-serif;
}
.container3 h1{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #3235cc;
}
 .level1{
     width: 80%;
     appearance: none;
     background-color: #e1e6ec;
     box-shadow: 5px 5px 11px #a2b1c6, -5px -5px 11px #fff;
     border-radius: 25px;
     margin-bottom:12px;
 }
 .level1::-webkit-slider-thumb{
     appearance: none;
     background-color: #a2b1c6;
     box-shadow: 2px 2px 5px #a2b1c6, -2px -2px 5px #fff;
     width: 25px;
     height:25px;
     border-radius: 25px;
 }
 .buttons1{
     display:inline-block;
     margin: 12px 0;
 }
 .buttons1 button{
     position: relative;
     width:50px;
     height:50px;
     border-radius:50px;
     background-color: #e1e6ec;
     box-shadow: 2px 2px 5px #a2b1c6, -2px -2px 5px #fff;
     border:none;
 }
 .buttons1 button:active{
     background-color: #e1e6ec;
     box-shadow: inset 2px 2px 5px #a2b1c6, -2px -2px 5px #fff;
 }
 #play1{
     margin:0 16px;
 }
 .buttons1 button img{
     position: absolute;
     left:50%;
     top:50%;
     transform: translate(-50%,-50%);
     width:25px;
     height:25px;
 }

.right-col2{
    margin-left: 55%;
}
.right-col2 h1{
    font-size:50px;
    color:#fff
    line-height: 80px;
    float:left;
}